# Collection data types

List
- Ordered sequence of items
- Mutable: values in list can be changed or altered.

In [1]:
# Declaration
l = [100, 222.2, "Hello World"]
print(l[0])
print(l[1])
print(l[2])

100
222.2
Hello World

In [2]:
type(l)

list

In [3]:
l[2] = "Hey there !"
l[2]

'Hey there !'

Tuple
- Tuple is ordered collection of items
- Tuple is same as List except tuples are immutable
- Tuple once created cannot be changed or altered

In [4]:
# Declaration
t = (100, 222.2, "Hello World")
print(t[0])
print(t[1])
print(t[2])

100
222.2
Hello World

In [5]:
type(t)

tuple

In [6]:
print(t[0])

100

In [7]:
t[0] = 200

TypeError: 'tuple' object does not support item assignment

Set 
- Set is unordered collection of unique items
- Items are not in order

In [9]:
s = {100, 250, 210, 350, 900}
print(s)

{210, 900, 100, 250, 350}

In [10]:
type(s)

set

In [11]:
s = {100, 250, 210, 350, 900, 210, 350, 900}
s

{100, 210, 250, 350, 900}

In [12]:
s[1]

TypeError: 'set' object is not subscriptable

Dictionary
- Dictionary is unordered collection of key-value pairs.

In [13]:
student = {'name': 'John', 'roll_number': 1001}
student['name']

'John'

In [14]:
type(student)

dict

Conversion between data types

In [15]:
i = 100
type(i)

int

In [16]:
float(i)

100.0

In [17]:
int(555.5555)

555

In [18]:
str(400)

'400'