In [1]:
# Import NumPy package for use
import numpy as np
# Import Pandas package for use
import pandas as pd

In [2]:
# Create a numberic list
values = [10,20,30]    # numeric list contains 10,20,30
A = pd.Series(values)  # create a series based on numeric list
A  # show series

0    10
1    20
2    30
dtype: int64

In [3]:
# Create a string list for labels
labels = ['First','Second','Third']
B = pd.Series(values,labels)  # create a series based on numeric list and labels
B   # show series

First     10
Second    20
Third     30
dtype: int64

In [4]:
# Create a numpy array
array = np.arange(10, 31, 10)  # numpy array
array  # show array

array([10, 20, 30])

In [5]:
# Create a series based on array and labels
C = pd.Series(array,labels)
C   # show series

First     10
Second    20
Third     30
dtype: int32

In [6]:
# Create a Pyton dictionary
dic = {'First':10,'Second':20,"Third":30}   # Python dictionary contains 3 key-value pairs
dic  # show dictionary

{'First': 10, 'Second': 20, 'Third': 30}

In [7]:
# Create a series based on dictionary
D = pd.Series(dic)
D   # show series

First     10
Second    20
Third     30
dtype: int64

In [8]:
# Create a series by switching the labels and values
E = pd.Series(labels,values)
E  # show series

10     First
20    Second
30     Third
dtype: object

In [10]:
# Create a series of WWII countries with numeric labels
countries = pd.Series([1,2,3,4], ['USA','Britain','France','Germany'])
countries   # show series

USA        1
Britain    2
France     3
Germany    4
dtype: int64

In [11]:
# Grab the first element
countries['USA']    # first label index

1

In [15]:
# Create a series of WWII countries with string labels
countries2 = pd.Series(['USA','Britain','France','Germany'],[1,2,3,4])
countries2  # show series

1        USA
2    Britain
3     France
4    Germany
dtype: object

In [16]:
# Grab the first element
countries2[1]     # first numeric index

'USA'

In [17]:
# Add the same series
double_countries = countries + countries   # add countries with countries
double_countries

USA        2
Britain    4
France     6
Germany    8
dtype: int64

In [18]:
# Create another series of WWII countires with numeric labels
countries3 = pd.Series([1,5,3,4],['USA','USSS','France','Germany'])
countries3  # show series

USA        1
USSS       5
France     3
Germany    4
dtype: int64

In [19]:
# Add the different series
mixed_countries = countries + countries3
mixed_countries   # show series

Britain    NaN
France     6.0
Germany    8.0
USA        2.0
USSS       NaN
dtype: float64

In [20]:
# Add the mixed series which have no labels match and data points are of different types
funny_countries = countries + countries2
funny_countries

1          NaN
2          NaN
3          NaN
4          NaN
Britain    NaN
France     NaN
Germany    NaN
USA        NaN
dtype: object