In [1]:
# Import NumPy package

In [2]:
# Create an array with 1,2,3

array([1, 2, 3])

In [3]:
# Make a copy of array

array([1, 2, 3])

In [4]:
# Make a deep copy of array

array([1, 2, 3])

In [5]:
# Create a 2D array

array([[0, 1, 2],
       [3, 4, 5]])

In [6]:
# Sum with axis = 0

array([3, 5, 7])

In [7]:
# Sum with axis = 1

array([ 3, 12])

In [11]:
# Create an array for sorting

array([[1, 4],
       [3, 1]])

In [12]:
# Sort along the last axis

array([[1, 4],
       [1, 3]])

In [14]:
# Sort along the first axis

array([[1, 1],
       [3, 4]])

In [16]:
# Sort the flattened array

array([1, 1, 3, 4])

In [18]:
# Display array x

array([1, 2, 3])

In [23]:
# Append data to array x with 4,5,6

array([1, 2, 3, 4, 5, 6])

In [26]:
# Insert data into array x with 1, 9

array([1, 9, 2, 3])

In [3]:
# Create an array for resize

array([[0, 1],
       [2, 3]])

In [6]:
# Resize the array

array([[0, 1, 2],
       [3, 0, 1]])

In [29]:
# Create an array for delete

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [30]:
# Delete the second row of the array

array([[ 1,  2,  3,  4],
       [ 9, 10, 11, 12]])

In [31]:
# Create one array for concatenate

array([[1, 2],
       [3, 4]])

In [32]:
# Create another array for concatenate

array([[5, 6]])

In [34]:
# Concatenate two arrays on axis 0

array([[1, 2],
       [3, 4],
       [5, 6]])

In [36]:
# Concatenate two arrays on axis 1

array([[1, 2, 5],
       [3, 4, 6]])

In [37]:
# Apply vstack on two arrays

array([[1, 2, 3],
       [2, 3, 4]])

In [42]:
# Apply vstack on two arrays

array([[1],
       [2],
       [3],
       [2],
       [3],
       [4]])

In [47]:
# Apply hstack with two arrays

array([1, 2, 3, 2, 3, 4])

In [57]:
# Apply split on an array

[array([0, 1, 2]), array([3, 4, 5]), array([6, 7, 8])]

In [58]:
# Apply array_split on an array

[array([0, 1, 2]), array([3, 4]), array([5, 6])]

In [59]:
# Create an array for hsplit

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [60]:
# Apply hsplit on an array

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13]]), array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15]])]

In [61]:
# Create an array for flatten

array([[1, 2],
       [3, 4]])

In [62]:
# Apply flatten on an array

array([1, 2, 3, 4])

In [63]:
# Create an array for transpose

array([[0, 1],
       [2, 3]])

In [64]:
# Apply transpose on an array

array([[0, 2],
       [1, 3]])

In [68]:
# Create an array for inv

array([[1, 2],
       [3, 4]])

In [69]:
# Apply inv on an array

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [72]:
# Apply add on two arrays

array([[ 0,  2,  4],
       [ 3,  5,  7],
       [ 6,  8, 10]])

In [73]:
# Apply substract on two arrays

array([[0, 0, 0],
       [3, 3, 3],
       [6, 6, 6]])

In [74]:
# Apply divide on two arrays

array([ 1.        ,  9.        ,  0.5       ,  4.2       ,  3.83333333])

In [75]:
# Apply multiple on two arrays

array([  4,  81,   8, 105, 138])

In [76]:
# Apply sqrt on array

array([ 1.41421356,  5.19615242,  1.41421356,  4.58257569,  4.79583152])

In [77]:
# Apply sin on array

array([ 0.90929743,  0.95637593,  0.90929743,  0.83665564, -0.8462204 ])

In [78]:
# Apply cos on array

array([-0.41614684, -0.29213881, -0.41614684, -0.54772926, -0.53283302])

In [79]:
# Apply log on array

array([ 0.69314718,  3.29583687,  0.69314718,  3.04452244,  3.13549422])

In [80]:
# Apply dot two arrays

336

In [81]:
# Apply roots on array with 1, 0, 04

array([ 2., -2.])

In [83]:
# Apply mena on array with 1,2,3,4

2.5

In [84]:
# Apply median on array

2.5

In [85]:
# Apply corrcoef on array

1.0

In [86]:
# Apply std on array

1.1180339887498949

In [88]:
# Use sum on array

10

In [89]:
# Use min on array

1

In [90]:
# use max on array

4

In [91]:
# use cumsum on array

array([ 1,  3,  6, 10], dtype=int32)