In [1]:
# Import packages
import numpy as np
import pandas as pd

In [2]:
# Define a dictionary for data frame 1
d1 = {'A':'A1 A2 A3'.split(),'B':'B1 B2 B3'.split(),'C':"C1 C2 C3".split()}  # create a dictionary
d1  # show dictionary

{'A': ['A1', 'A2', 'A3'], 'B': ['B1', 'B2', 'B3'], 'C': ['C1', 'C2', 'C3']}

In [3]:
# Create data frame 1
df1 = pd.DataFrame(d1,index='1 2 3'.split())  
df1   # show data frame 1

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3

In [4]:
# Define a dictionary for data frame 2
d2 = {'A':'A4 A5 A6'.split(),'B':'B4 B5 B6'.split(),'C':'C4 C5 C6'.split()}
d2  # show dictionary

{'A': ['A4', 'A5', 'A6'], 'B': ['B4', 'B5', 'B6'], 'C': ['C4', 'C5', 'C6']}

In [5]:
# Create data frame 2
df2 = pd.DataFrame(d2,index='4 5 6'.split())
df2  # show dictionary

    A   B   C
4  A4  B4  C4
5  A5  B5  C5
6  A6  B6  C6

In [7]:
# Concatenate two data frames on row-wise
pd.concat([df1,df2])  # row-wise axis = 0

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5
6  A6  B6  C6

In [8]:
# Contatentate two data frames on col-wise
pd.concat([df1,df2],axis=1,sort=True)  # col-wise axis = 1

     A    B    C    A    B    C
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
3   A3   B3   C3  NaN  NaN  NaN
4  NaN  NaN  NaN   A4   B4   C4
5  NaN  NaN  NaN   A5   B5   C5
6  NaN  NaN  NaN   A6   B6   C6

In [8]:
# Change the index of data frame 2 from 4-6 to 1-3
df2.index='1 2 3'.split()    # set same index as df1
df2  # show data frame 2

    A   B   C
1  A4  B4  C4
2  A5  B5  C5
3  A6  B6  C6

In [9]:
# Contatentate two data frames on col-wise
pd.concat([df1,df2],axis=1)   # col-wise axis = 1

    A   B   C   A   B   C
1  A1  B1  C1  A4  B4  C4
2  A2  B2  C2  A5  B5  C5
3  A3  B3  C3  A6  B6  C6

In [8]:
# Check your Python directory in Jupyter Notebook
import os
os.getcwd()

'C:\\Users\\duoch'

In [9]:
# Change your Python directory to Desktop
os.chdir('C:\\Users\\duoch\\Desktop')
os.getcwd()

'C:\\Users\\duoch\\Desktop'

In [12]:
# Read excel file and assign the imported data to a variable
csv_data = pd.read_csv('C:\\Users\\duoch\\Desktop\\test.xlsx')  # make sure you have test.xlsx in current Python directory

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xdb in position 1: invalid continuation byte