In [1]:
# Import required libraries
import pandas as pd

In [5]:
# Read the data
url = 'https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch08/NCHS.csv'
data=pd.read_csv(url)
data.head(3)

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Alabama,2313.0,52.2
1,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Alaska,294.0,55.9
2,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Arizona,2214.0,44.8